* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(59, 85, 133);
  margin: 20px;
}

.baseContainer {
  display: flex;
  gap: 15px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background: rgb(54, 128, 116);
  border: black double;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  color: white;
}

.slider {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

#gridContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  border: double;
  background: rgba(241, 225, 201, 0.925);
}

.rowElement {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.pixelElement {
  flex: 1 0 auto;
  height: 100%;
  opacity: 0;
  background: black;
}

#switcher {
  background: rgb(88, 98, 151);
  width: 300px;
  height: 75px;
  border: double black;
  border-radius: 10px;
  align-self: center;
  font-size: 30px;
}

.styleDisplay {
  display: flex;
  border: double black;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.standard {
  opacity: 1;
  background:rgba(241, 225, 201, 0.925);
  color: black;
}

.shading {
  opacity: 1;
  background:rgba(241, 225, 201, 0.925);
  color: rgba(0, 0, 0, 0.4);
}

.randomColor {
  opacity: 1;
  background:rgba(241, 225, 201, 0.925);
}

.off {
  opacity: 0.5;
  background: lightslategrey;
  color: white;
}